@charset "utf-8";
@import "~bootstrap/scss/bootstrap";
// colors
$white-color: #f6f6f6;
$black-color: #242424; // footer, 검은 구분선
$dark-color: #626262; // 보통의 글씨 컬러
$light-color: #f4f6f6;
$gray-color: #c4c4c4; // 취소버튼, 비활성 버튼, 연한 구분선 등
$dark-gray-color: #a3a3a3; // gray hover
$main-color: #202d91;
$point-color: #c86b98; // 메인 버튼 컬러
$sub-color: #8d3da5; // 메인 컬러와 그룹으로 쓰이는 컬러
$sub-point-color: #f28e85; // 추가 버튼, a 링크 포인트 컬러
$sub-light-color: #d1c9ff; // 연보라
$light-purple-color: #aa7ab8;
$heart-color: #f66352;
$red-color: #df3927;

// fonts
@import url("https://fonts.googleapis.com/css2?family=Nanum+Gothic:wght@400;700&display=swap");
$gothic-font: "Nanum Gothic", sans-serif;
$title-font-size: 48px;
$subtitle-font-size: 30px;
$bodytitle-font-size: 24px;
$body-subtitle-font-size: 20px;
$body-font-size: 18px;
$detail-font-size: 14px;
$smallest-font-size: 12px;

// default setting
a {
	text-decoration: none;
}
ul {
	padding: 0;
	margin: 0;
}
li {
	list-style: none;
}
input {
	border: 0;
	background: none;
}
input:focus {
	outline: none;
}

// div class
.content-box {
	width: 80vw;
	height: 100%;
	margin: 100px auto;
	// position: relative;
	top: 150px;
	// background-color: gray;
}
.wrap {
	width: 100%;
	height: 85vh;
	position: absolute;
	left: 0;
}
.modal-box {
	z-index: 90;
	background: white;
}
