@import "./common.scss";
#MyinfoCancelRoot {
	width: 100%;
	height: 100%;
	position: absolute;
	top: 0;
	left: 0;
}
.cancel-confirm-box {
	width: 80%;
	margin: 0 auto;
}
.title-text {
	font-size: $subtitle-font-size;
}
.body-text {
	font-size: $body-subtitle-font-size;
}
.img-box {
	width: 50%;
	height: 50%;
	margin: 0 auto;
}
.img-box > img {
	width: 100%;
	height: 100%;
}
.button-group {
	width: 60%;
	margin: 0 auto;
}
.cancel-btn,
.delete-btn {
	width: 40%;
	height: 40px;
	border: none;
	border-radius: 50px;
	font-size: $body-font-size;
}
.cancel-btn {
	background: $light-purple-color;
	margin-right: 20px;
}
.cancel-btn:hover {
	background: $main-color;
	color: $white-color;
}
.delete-btn {
	background: $gray-color;
}
.delete-btn:hover {
	background: $dark-gray-color;
	font-weight: bold;
}
.info-text {
	font-size: $body-font-size;
	color: $main-color;
}
